<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center;" class="app-width">
    <div class="background-main"></div>
    <div *ngIf="home" class="background-main-content">
<h1 class="h1-class">Welcome to e-shopping</h1>
<p class="p-class">Easy ways, to find your perfect product </p>

<p class="p-class">We provide you the perfect product matching your wish </p>

<p class="p-class">Love Shopping Love e-shopping</p>
<button mat-raised-button color="primary"  (click)="loginPage()">Go go Shopping</button>
</div>

</div>

<router-outlet></router-outlet>
